# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
test.py
# Environment
.env

# Data & sessions
data/
*.json

# Models (large files)
models/vosk/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

gen.py

test_consultation.wav
test_consultation1.wav
test_consultation2.wav
test_consultation3.wav